streamlit==1.31.1
pandas==2.2.0
pillow==10.2.0
qrcode==7.4.2
python-dotenv==1.0.0
plotly==5.18.0
numpy==1.26.3
scikit-learn==1.4.0
secure-smtplib==0.1.1
requests==2.31.0
reportlab==4.1.0
twilio==8.12.0 